@model FilmSearch
@{
    ViewData["Title"] = "SearchResult";
}

<h2>SearchResult</h2>


<partial name="_FilmSearch" model="Model" />

<table class="table table-striped">
    <tr>
        <td><label for="Title">Title</label></td>
        <td><label for="Desription">Desription</label></td>
        <td><label for="ReleaseYear">Release Year</label></td>
        <td><label for="Length">Length</label></td>
        <td><label for="Rating">Rating</label></td>
    </tr>
    @foreach(Film film in Model.Films)
    {
        <tr>
            <td>@film.Title</td>
            <td>@film.Description</td>
            <td>@film.ReleaseYear</td>
            <td>@film.Length</td>
            <td>@film.Rating</td>
        </tr>
    }
</table>